.enunciado {
    display: flex;
}

.texto {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    height: 100px;
}

@media (max-width: 922px) {
    .texto { 
        font-size: 1.2rem;
    }
}